<h3>{% trans %}admin_newsletter_group_create_title{% endtrans %}</h3>
<form action="{{ path('admin_newsletter_save_group') }}" method="post" role="form" onsubmit="return addGroup(this)">
  <div class="form-group">
      {{ form_errors(groupform.name) }}
      <label for="{{ groupform.name.vars.id }}">{% trans %}admin_newsletter_group_name{% endtrans %}</label>
      {{ form_widget(groupform.name, {'attr' : {'class' : 'form-control'}}) }}
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">{% trans %}admin_newsletter_group_save{% endtrans %}</button>
  </div>	
      {{ form_rest(groupform) }}
</form>
