{% extends 'MaithTekoaBundle::adminlayout.html.twig' %}
{% block pagestylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithtekoa/admin/vendor/toastr/toastr.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/maithtekoa/admin/vendor/tagsinputs/jquery.tagsinput.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/maithtekoa/admin/vendor/bootstrap-datepicker/datepicker.css') }}" >
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/maithtekoa/admin/vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ asset('bundles/maithtekoa/admin/vendor/jquery.blockUI.min.js') }}"></script>
{#<script src="{{ asset('bundles/maithtekoa/admin/tinymce/tinymce.min.js') }}"></script>#}
<script src="{{ asset('bundles/maithcommonadmin/js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('bundles/maithtekoa/admin/vendor/tagsinputs/jquery.tagsinput.min.js') }}"></script>
<script src="{{ asset('bundles/maithtekoa/admin/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/maithnewsletter/js/newsletter.js') }}"></script>
{% endblock %}
{% block body %}
<div id="newsletter-global-container">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    {% trans %}admin_newsletter_user_active_quantity{% endtrans %}  <strong>{{ quantity }}</strong>
                </div>
            </section>        
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body" id="tableNewsletterContainer">
                    {% include 'MaithNewsletterBundle:Default:_contentTable.html.twig' with { 'contents' : contents, 'pager': 0, 'limitContent' : limitContent } %}
                </div>
                {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_ADD_CONTENT')") %}
                <div class="text-center">
                    <a href="{{ path('admin_newsletter_create_new')}}" onclick='return createEditNewsletter(this);' class="btn btn-primary">
                        <small>{% trans %}admin_newsletter_content_create{% endtrans %}</small>
                    </a>
                </div>
                {% endif %}    
            </section>        
        </div>
    </div>    
    <div class="row">
        {% if is_expr_granted("hasAnyRole('ROLE_NEWSLETTER_ADD_USER', 'ROLE_NEWSLETTER_DOWNLOAD_USERS', 'ROLE_NEWSLETTER_SEARCH_USER', 'ROLE_NEWSLETTER_UPLOAD_USERS')") %}
        <div class="col-lg-4">
            {% if is_expr_granted("hasAnyRole('ROLE_NEWSLETTER_ADD_USER', 'ROLE_NEWSLETTER_DOWNLOAD_USERS', 'ROLE_NEWSLETTER_SEARCH_USER')") %}
            <section class="panel">
                <div class="panel-heading">
                    {% trans %}admin_newsletter_user_create_title{% endtrans %}
                </div>
                <div class="panel-body">
                    <div id='new_user_container'>
                    {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_ADD_USER')") %}
			{% include 'MaithNewsletterBundle:Default:userForm.html.twig' with { 'userform' : userform } %} 
                    {% endif %}
                    </div>
                    {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_DOWNLOAD_USERS')") %}
                    <a href='{{ path('admin_newsletter_download_user')}}' class='btn btn-info pull-right'><i class="fa fa-cloud-download"></i></a>
                    {% endif %}
                    {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_SEARCH_USER')") %}
                    <div id='search_user_container'>
                         <form action="{{ path('admin_newsletter_list_users') }}" method="post" role="form" onsubmit="return searchUser(this)">
                            <div class="form-group">
                                <label for="user_search_email">{% trans %}admin_newsletter_user_email{% endtrans %}</label>
                                <input type="text" required="requiered" class="form-control" placeholder="{% trans %}admin_newsletter_user_search_by_email{% endtrans %}" name="search" id="user_search_email" />
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-info">{% trans %}admin_newsletter_user_search{% endtrans %}</button>
                            </div>	
                                
                          </form>
                    </div>
                    {% endif %}        
                </div>
            </section>
            {% endif %}
            {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_UPLOAD_USERS')") %}
            <section class="panel">
                <div class="panel-heading">
                    {% trans %}admin_newsletter_user_upload_file_title{% endtrans %}
                </div>
                <div class="panel-body">
                    <form action="{{ path('admin_newsletter_upload_user') }}" method="post" role="form" {{ form_enctype(uploadusers) }}>
                      <div class="form-group">
                          {{ form_errors(uploadusers.submitFile) }}
                          <label for="{{ uploadusers.submitFile.vars.id }}">{% trans %}admin_newsletter_user_csv_file{% endtrans %}</label>
                          {{ form_widget(uploadusers.submitFile, {'attr' : {'class' : 'form-control'}}) }}
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-default">{% trans %}admin_newsletter_user_upload{% endtrans %}</button>
                      </div>	
                          {{ form_rest(uploadusers) }}
                    </form>            
                </div>
            </section>
            {% endif %}        
        </div>
        {% endif %}
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-heading">
                    {% trans %}admin_newsletter_group_create_title{% endtrans %}
                </div>
                <div class="panel-body">
                    <div id='new_group_container'>
                         {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_ADD_GROUP')") %}
                            {% include 'MaithNewsletterBundle:Default:groupForm.html.twig' with { 'groupform' : groupform } %}
                         {% endif %}
                    </div>
                    <strong>{% trans %}admin_newsletter_group_listado{% endtrans %}  </strong><a href="javascript:void(0)" onclick="$('#folders-list').toggle()"><i class="fa fa-eye"></i></a>
                    <table class="table table-bordered table-striped mg-t datatable" id="folders-list" style="display:none">
                        <thead>
                            <tr>
                              <th>{% trans %}admin_newsletter_group_name{% endtrans %}</th>
                              <th>{% trans %}admin_newsletter_group_actions{% endtrans %}</th>
                            </tr>
                          </thead>
                          <tbody id="groups_table_body">
                            {% for group in groups %}
                                {% include 'MaithNewsletterBundle:Default:_groupRow.html.twig' with { 'group' : group } %}
                            {% endfor %}
                          </tbody>
                    </table>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-heading">
                    {% trans %}admin_newsletter_email_layouts_title{% endtrans %}
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <thead>
                            <tr>
                              <th>{% trans %}admin_newsletter_email_layout_name{% endtrans %}</th>
                              <th>{% trans %}admin_newsletter_email_layout_actions{% endtrans %}</th>
                            </tr>
                          </thead>
                          <tbody id="email_layout_table_body">
                            {% for emailLayout in emailLayouts %}
                                {% include 'MaithNewsletterBundle:Default:_emailLayoutRow.html.twig' with { 'emailLayout' : emailLayout } %}
                            {% endfor %}
                          </tbody>
                    </table>
                    {% if is_expr_granted("hasRole('ROLE_NEWSLETTER_CREATE_EMAIL_LAYOUT')") %}
                    <a href="{{ path('admin_newsletter_create_email_layout')}}" onclick='return createEditEmailLayout(this);' class="btn btn-primary">
                        <small>{% trans %}admin_newsletter_email_layout_create{% endtrans %}</small>
                    </a>
                    {% endif %}      
                    
                </div>
            </section>
        </div>
    </div>
</div>                
<div id="newsletter-compose-container">
</div>
	
<input type='hidden' id='newsletter-user-form' value='{{ path('admin_newsletter_retrieve_newsletter_user_form') }}' />	
<input type='hidden' id='newsletter-user-autocomplete' value='{{ path('admin_newsletter_retrieve_newsletter_user') }}' />	
<input type='hidden' id='selector-group-to-send' value='{{ path('admin_newsletter_retrieve_newsletter_groups') }}' />	
{% endblock %}
